body{
    min-width: 1224px;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(165, 165, 165);
}

#logo{
    position: absolute;
    margin: 25px 40px;
}
.btn-iniciar{
   margin-top: 350px;
   margin-left: 760px;
  padding: 25px 55px;
  border-radius: 4px;
  font-weight: bold;
  background-color: rgb(83, 83, 158);
  color: whitesmoke;
  cursor: pointer;
  position:absolute;
}

#letra{
    position: absolute;
    margin-left: 35%;
    margin-top: 41%;
    padding: 15px 10px;
    background-color: rgb(189, 184, 184);
    color: rgb(2, 8, 8);
    font-weight: bold;
    font-size: 18px;
    display: none;
    
}
#botonComprobar{
    position: absolute;
    margin-left: 55%;
    margin-top: 566px;
    padding: 10px 30px;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    display: none;
    
}
#botonComprobar:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    
}


#palabraAdivinando{
 
    position: absolute;
    margin-left: 34%;
    margin-top: 36%;
    font-size: 50px;
    font-weight: bold;
}

#imagen{
    width: 289px;
    height: 400px;
    position: absolute;
    margin-left: 35%;
    margin-top: 4%;
    display: none;
}

#botonReinicio{
    display: none;
    position: absolute;
    margin-top: 500px;
    margin-left: 200px;
    padding: 10px 30px;
    background-color: gray;
    color: rgb(3, 2, 0);
    font-weight: bold;
    cursor: pointer;
}


